.wrapper {
    padding: 10px 0 30px;
    text-align: center;
    background: #1b4cfa;
    border-radius: 10px;
    color: #fff;
}
.button{
    border-radius: 5px;
    padding: 10px 25px;
    margin: 40px 10px 10px 10px;
    background: #484848;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}
.button:hover{
    background: #212121;
}
p{
    font-size: 18px;
    margin-bottom: -4px;
}
hr{
    width: 300px;
}
.title{
    background: #e9e9e9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.input{
    font-size: 22px;
    padding: 5px;
    border-radius: 5px;
    border: none
}
.app{
    min-width: 500px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}