body {
    color: #fff
}
a{
    color: #fff;
}
.wrapper{
    background: #2c72ec;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    margin: 25px;
}
.userPhoto{
    border-radius: 10px;
    width: 200px;
    margin-right: 40px;
}
div{
    padding: 5px;
}
.profileInfo {
    color: #e0e0e0;
    width: 450px;
    padding: 20px;
    margin: 0 50px 0 10px;
    background: #417de7;
    border-radius: 10px;
}
.back{
    background: #0b5be9;
    border-radius: 5px;
    padding: 10px 20px;
    height: 20px;
    text-decoration: none;
}