.userPhoto{
    width: 170px;
    border-radius: 10px;

}

.main{
    background: #4a89ef;
    border-radius: 10px;
    width: 180px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.selectedPage {
    font-weight: bold;
}
.wrapper{
    background: #4a89ef;
    border-radius: 10px;
    margin: 10px 10px;
    text-align: center;
    padding: 10px;
}
.item{
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    background: #2c72ec;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: 50px auto;
}
.nav{
    background: #2c72ec;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 15px;
    color: #000;
    text-decoration: none;
}
.isFollow{
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3069d6;
    border-radius: 3px;
    border: none;
    margin: 0 auto;
    width: 100px;
    height: 40px;
}
.userName{
   text-align: center;
}